@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

#dark {
    --primary: hsl(209, 23%, 22%);
    --secondary: hsl(207, 26%, 17%);
    --text-primary: white;
    --text-secondary: hsl(0, 0%, 80%);
}

#light {
    --primary: hsl(0, 0%, 100%);
    --secondary: hsl(0, 0%, 98%);
    --text-primary: hsl(200, 15%, 8%);
    --text-secondary: hsl(0, 0%, 20%);
}

html {
    font-size: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

header {
    background-color: var(--primary);
    padding: 2.5rem 1.5rem;
    box-shadow: 0px 0px 10px 12px rgba(0,0,0,1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: var(--text-primary);
    font-size: 1.3rem;
}

.content {
    background-color: var(--secondary);
    padding-top: 2rem;
    height: calc(100vh - 68px);
}

.theme {
    color: var(--text-primary);
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s;
}

@media screen and (min-width: 768px){
    * {
        font-size: 15px;
    }

    header {
        padding: 2.5rem 3.5rem;
    }
}

@media screen and (min-width: 1024px){
    h1 {
        font-size: 1.9rem;
    }

    header {
        padding: 2.5rem 5rem;
    }

    .content {
        padding-top: 5rem;
    }
}


